{% extends 'shop/layout.html' %}
{% load socialaccount %}

{% block title %}Вход{% endblock %}

{% block subcontent %}
    <div class="container-bg">
        <h2>Вход</h2>
        {% if form.errors %}
            <p>Неверный логин или пароль</p>
        {% endif %}
        <ul>
            <li class="github">
                <a href="{% provider_login_url 'github' %}">Вход через GitHub</a>
            </li>
        </ul>
        <p>Если у вас нету аккаунта, то вы можете его
            <a href="{% url 'register' %}">создать</a></p>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="next" value="{{ next }}">
            <p><input type="submit" value="Вход"></p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}">
                Забыли пароль?
            </a>
        </p>
    </div>
{% endblock %}