{% extends 'shop/layout.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block subcontent %}
    <div class="container-bg">
        <h1>Сброс пароля</h1>
        {% if validlink %}
            <p>Введите новый пароль дважды:</p>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Сменить пароль"></p>
            </form>
        {% else %}
            <p>Ссылка сброса пароля недействительна либо уже была использована.
               Пожалуйста запросите новый сброс пароля.</p>
        {% endif %}
    </div>
{% endblock %}