<footer class="page-footer">
    <ul class="footer-list">
        <li>
            <a href="#" class="footer-link">Программа лояльности</a>
        </li>
        <li>
            <a href="#" class="footer-link">Политика конфиденциальности</a>
        </li>
        <li>
            <a href="#" class="footer-link">Договор оферты</a>
        </li>
    </ul>

    <ul class="footer-page-text">
        <li>
            <p class="footer-text">ООО "Gadget Shop"</p>
        </li>
        <li>
            <p class="footer-text">© Все права защищены</p>
        </li>
    </ul>

    <ul class="footer-contacts">
        <li>
            <a href="#">
                <i class="fa-brands fa-vk" id="vk_icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-brands fa-telegram" id="tg_icon"></i>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa-solid fa-square-envelope" id="gmail_icon"></i>
            </a>
        </li>
    </ul>
</footer>