{% extends 'shop/layout.html'%}

{% block title %}Главная страница{% endblock %}

{% block subcontent %}
<div class="container_page_main">
    <ul class="text_main_list">
        <li>
            <p class="text_main">Техника на любой вкус</p>
        </li>
        <li>
            <p class="text_main_discount">Скидка на первый заказ по промокоду NEW</p>
        </li>
        <li>
            <button class="container_button_main" type="button">В каталог</button>
        </li>
    </ul>
    <div>
        <img src="" alt="Техника" width="640" height="640">
    </div>
</div>
{% endblock %}