{% extends 'templates/layout.html' %}
{% load static %}
{% block title %}Товар: {{ product.manufacturer }} {{ product.title }}{% endblock %}

{% block content %}
<div  class="container-hz">
    <div class="card-img-container">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Prod Pict">
        {% else %}
            <img src="#" alt="Prod Pict">
        {% endif %}
    </div>
    <div class="prod-desc">
        <h1>{{ product.manufacturer }} {{ product.title }}</h1>
        <h2>
             <a href="{{ product.subcategory.get_absolute_url }}">{{ product.subcategory }}</a>
        </h2>
        <p>Цена - {{ product.price }} руб.</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
        {{ product.description|linebreaks }}
    </div>
</div>
{% endblock %}