{% extends 'templates/layout.html'%}
{% load static %}
{% block title %}{{ subcatalog.title }}{% endblock %}

{% block content %}
    <div  class="container-hz">
        <div class="subcatalog-title">
            <h2>{{ subcategory.title }}</h2>
        </div>
<!--        <form method="get">-->
<!--            {{ filter.form.as_p }}-->
<!--            <button type="submit">Filter</button>-->
<!--        </form>-->

        <div class="product-page">
<!--            <div class="filter-list">-->
<!--                <ul>-->
<!--                    <li>-->
<!--                        <input type="checkbox">-->
<!--                        <span>amd</span>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->

            <div class="prod-list">
                <ul class="card-list">
                    {% for product in products %}
                        <li>
                            <div class="card">
                                <div class="card-img-container">
                                    <a href="{{ product.get_absolute_url }}">
                                    {% if product.image %}
                                        <img src="{{ product.image.url }}" alt="Prod Pict">
                                    {% else %}
                                        <img src="#" alt="Prod Pict">
                                    {% endif %}
                                    </a>
                                </div>
                                <div class="prod-desc">
                                    <h4>{{ product.manufacturer }} {{ product.title }}</h4>
                                    <span class="price">{{ product.price }} рублей<br></span>
                                    <span class="amount">Осталось: {{ product.amount }}<br></span>
                                    <a href="/" class="button">В корзину</a>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}